{% extends "groups/group_base.html" %}

{% block pregroup %}
  <div class="container">

    <h1 class="grouptitle">This is <span class="groupname">{{ group.name }}</span> group!</h1>
    <br>
    <div class="container">
      <div class="row membercount justify-content-center">
        {% if user in group.members.all %}
          <a href="{% url 'groups:leave' slug=group.slug %}"
          class="btn btn-lg btn-warning">
          <span class="fa fa-times-circle-o"></span> Leave</a>
        {% else %}
          <a href="{% url 'groups:join' slug=group.slug %}"
          class="btn btn-lg btn-warning">
          <span class='fa fa-check-circle-o'></span>Join</a>
        {% endif %}
        <h2 class="pl-3">Members Count: {{ group.members.count }}</h2>
      </div>
    </div>

  </div>
{% endblock %}
<hr>
{% block group_content %}
  <div class="mt-5">
    {% if group.posts.count == 0 %}
      <h2 class="nopost">No posts in this group yet!</h2>
    {% else %}
      {% for post in group.posts.all %}
        {% include "posts/_post.html" %}

      {% endfor %}
    {% endif %}
  </div>

{% endblock %}
