.mycontent {
  word-wrap: break-word;
  max-width: 95%;
  margin: auto;
}

.myrow {
  display: flex;
}

.jumbotron {
    padding: 2rem 1rem;
}

.right-bar .jumbotron{
  text-align: justify;
  padding: 0.5rem 1rem;
  background-color: #D8EBFF;
  margin-bottom: 1rem;
}

.mybrand {
  padding-top: 2px;
  font-size: 1.8em;
}
.navbar .nav-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3em;
}

.right-bar a {
  text-decoration: none;
  color: black;
}

div.media-body {
}

.grouptitle {
  text-align: center;
}

.list-group-item hr {
  width: 550px;
}

.sitetitle {
    color: white !important;
    font-family: 'Audiowide', cursive;
    font-size: 2em;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    height: 0;
    overflow: visible;
}

.post-message {
  color: black;
  text-decoration: none !important;
  font-size: 1.6em;
  font-family: 'Kalam', cursive;
}
.bye-bye-img {
  max-width: 60%;
  max-height: 60%;
}

.welcome-img {
  padding-top: 10px;
}
