body {
  background-color: #E8EFE6;
}

.board button {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: rgb(133, 213, 143);
  border: 3px solid black;
  margin: 2px;
}

.blue {
  border-radius: 30px;
  padding-bottom: 20px;
}

.container .jumbotron {
  background-color: #C1C3C9;
  border-radius: 30px;
  margin-bottom: 20px;
  padding: 10px;
}
