{% extends "base.html" %}
{% load static %}

{% block content %}

  <div class="welcome-post">
    <img class="djangoimg" src="{% static "images\python_django.png" %}"
    alt="django_img">
    <hr style="width: 95%;">
    <div class="jumbotron welcome-text">
      <h4>Welcome on my Django project site.</h4>
      <br>
      <p>
          This site was created to learn Django framework and other skills related
        to web development. It will be developed further, only for
        practice purpose.
      </p>

      <div class="sitescope">
        <p>In general, this site allows to:</p>
        <div class="row capabilites">
          <div class="col-4">
            <div class="list-group" id="list-tab" role="tablist">
              <a class="list-group-item list-group-item-action active" data-toggle="list" href="#list-home">Create User</a>
              <a class="list-group-item list-group-item-action" data-toggle="list" href="#list-profile">View/Join/Create Group</a>
              <a class="list-group-item list-group-item-action" data-toggle="list" href="#list-messages">Create/Delete Posts</a>
            </div>
          </div>
          <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="list-home">{{ message_user }}</div>
              <div class="tab-pane fade" id="list-profile">{{ message_group }}</div>
              <div class="tab-pane fade" id="list-messages">{{ message_posts }}</div>
            </div>
          </div>
        </div>
      </div>

      <hr>
      <h5 class="techs">Technologies used to create this site:</h5>
      <div class="techs-list">
        <div class="techs-list-badge">
          <img class="techs-list-badge-img" src="{% static "images\tech-badges\django.png" %}" alt="">
        </div>
        <div class="techs-list-badge">
          <img class="techs-list-badge-img" src="{% static "\images\tech-badges\python.png" %}" alt="">
        </div>
        <div class="techs-list-badge">
          <img class="techs-list-badge-img" src="{% static "\images\tech-badges\html.png" %}" alt="">
        </div>
        <div class="techs-list-badge">
          <img class="techs-list-badge-img" src="{% static "\images\tech-badges\css.png" %}" alt="">
        </div>
        <div class="techs-list-badge">
          <img class="techs-list-badge-img" src="{% static "\images\tech-badges\bootstrap.png" %}" alt="bootstrap">
        </div>
        <div class="techs-list-badge">
          <img class="techs-list-badge-img" src="{% static "\images\tech-badges\Git.png" %}" alt="">
        </div>
        <div class="techs-list-badge">
          <img class="techs-list-badge-img" src="{% static "\images\tech-badges\sqlite.png" %}" alt="">
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block right_bar %}
  {% include "rightbar.html" %}
{% endblock %}
