<div class="right-bar">
  <h4 style="text-align: center;">LATEST POSTS:</h4>
  <hr>
  {% for post in latest_posts %}
      <div class="jumbotron postlink">
        <a href="{% url 'posts:single' username=post.user.username pk=post.pk %}">
          {{ post.message_html|truncatechars:120|safe }}
        </a>
        <p class="text-muted">posted by
          <a href="{% url 'posts:for_user' username=post.user.username %}">
            <span style="color:green;">@{{ post.user.username }}</span>
          </a>
        </p>
      </div>
  {% endfor %}
</div>
