<div class="post media my-4 jumbotron">

  <div class="media-body">
    <h6>Created by <a href="{% url 'posts:for_user' username=post.user.username %}">
      <strong>@{{ post.user.username }}</strong>
    </a></h6>
    <hr>

    <span class="post-message">{{ post.message_html|safe}}</span>
    <span class="media-footer text-muted"><time class="time">POSTED:
      <a href="{% url 'posts:single' username=post.user.username pk=post.pk %}">
      {{ post.created_at | date:'d M Y H:m'}}</a></time>
      IN GROUP: <a href="{% url 'groups:single' slug=post.group.slug %}">
      {{ post.group.name }}</a>
      <span class="post-comments-count">
        | COMMENTS: {{ post.comments.count }}
      </span>
    </span>

    <div class="media-footer">
      {% if user.is_authenticated and post.user == user and not hide_delete %}
        <a href="{% url 'posts:delete' pk=post.pk %}" title="delete"
        class="btn btn-outline-danger mt-2">
        <span class="fa fa-remove" aria-hidden="true"></span>
        <span class="icon-label">Delete</span>
        </a>
      {% endif %}
    </div>

  </div>
</div>
