{% extends "posts/post_base.html" %}

{% block prepost %}

{% endblock %}

{% block post_content %}
  <div class="col-md-8 postslist">
    {% for post in post_list %}
      {% include "posts/_post_min.html" %}
    {% endfor %}

    {% if is_paginated %}
      <div class="pagination">
        <span class="step-links">
          {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
          {% endif %}
          <span class="page-current">
             Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>
          {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
          {% endif %}
        </span>
      </div>
    {% endif %}
  </div>
{% endblock %}
